<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="post-detail-page">
     <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'post_list' %}">Yazılar</a></li>
        </ul>
    </nav>
    <div id="posts" class="container">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content|safe }}</p>
        <p><strong>Published on:</strong> {{ post.created_at|date:"F d, Y" }}</p>
        {% for tag in post.tags.all %}
        <span class="tag">#{{ tag.name }}</span>
    {% endfor %}
    </div>
</body>
</html>
