<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Blog Yazısı</title>
    {% load static %}
    <script src="https://cdn.tiny.cloud/1/8bq75pcmhko9xqicjbr8oagq19mm0u037qho0000w8qfsmox/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    {{ form.media }} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="post-edit-container">
    <h1>Yeni Blog Yazısı Ekle</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Kaydet</button>
    </form>
</body>
</html>
